@import "colors";

.headerText {
	font-size: 17px;
	font-weight: bold;
}

.descriptionText {
	font-size: 12px;
	font-weight: lighter;
}

.price {
	font-size: 22px;
	font-weight: bold;
}

.linkRoute {
	padding-top:100px;
	font-size: 16px;
	color: #4A4A4A;
}
