@import "colors";


.position {
    position: fixed;
    left: 40px;
    top: 280px;
    z-index: 1;
}

.catagory {
	font-size: 30px;
	font-weight: bold;
}

.subText1 {
    font-size: 16px;
    font-weight: lighter;
    color: solid white;
    text-align: center;
    background-color: #0074e4;
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

.subText2 {
    font-size: 16px;
    font-weight: lighter;
    color: solid white;
    text-align: center;
    background-color: #0074e4;
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

.subText3 {
    font-size: 16px;
    font-weight: lighter;
    color: solid white;
    text-align: center;
    background-color: #0074e4;
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.subText4 {
    font-size: 16px;
    font-weight: lighter;
    color: solid white;
    text-align: center;
    background-color: #0074e4;
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
}


a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #87D300;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.lineBreak {
	padding-bottom: 10px;
}

.lineBreak2 {
	padding-bottom: 5px;
}