@import "colors";

.navContainer {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.titleBanner {
	height: 80px;
	width:100%;
	background-image: url("../../images/zillowbackground.png");
	display: flex;
}

.title {
	color: white;
	margin: auto;
	font-size: 40px;
}