 @import "colors";

 .search {
	position: absolute;
	top: 255px;
	left: 100px;
	z-index: -1px;
}

.searchInput {
	width: 560px;
	height: 35px;
	font-size: 18px;
	font-style: italic;
	border-radius: 10px;
	border: 2px solid #D8D8D8;
	padding: 5px;
	color: primary(zillowGreen);
}

.subText {
	position: absolute;
	top: 185px;
	left: 32px;
	font-size: 20px;
}


.container {
  width: 100%;
  height: 100%;
  align-content: center;
}

.content {
	display: flex;
	justify-content: space-around;
} 


.subHeader {
	height: 325px;
	width: 100%;
	top:50px;
	background-color: #F3F3F3;
	display: flex;
}

.subHeaderText {
	color: #74C005;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 30px;
	display: flex;
	font-size: 42.5px;
}

.imageContainer {
	margin-top: 0px;
}

.tileContainer {
	margin: 30px;
}


.longTileContainer {
	margin: 200px;
}

.footerContainer {
	margin: 30px;
}

