@import "colors";

.container {
  width: 100%;
  height: 100%;
}

.content {
	display: flex;
	justify-content: space-around;
}


.subHeader {
	height: 130px;
	width: 100%;
	background-image: url("../../images/zillowBackground.png");
	display: flex;
}

.subHeaderText {
	color: #74C005;
	margin: auto;
	font-size: 40px;
}

.tileContainer {
	margin: 30px;
}

.content2 {
	display: flex;
	justify-content: space-around;
}

.longTileContainer {
	margin: 200px;
}



