@import "colors";

.container {
	width: 600px;
	height: 250px;
	border-radius: 15px;
	border: 3px solid #74C005;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.header {
	font-size: 20px;
	font-weight: 900;
	color: #7F7F7F;
}

.subHeader {
	font-size: 16px;
	font-weight: 900;
	color: #7F7F7F;
}

.description {
	font-size: 12px;
	font-weight: 900;
	color: #9B9B9B;
}

.description2 {
	font-size: 12px;
	font-weight: 900;
	color: #9B9B9B;
}

.linkRoute {
	padding-top:50px;
}