@import "colors";

.container {
	width: 240px;
	height: 350px;
	border-radius: 10px;
	background-color: #EEEEEE;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.header {
	font-size: 20px;
	font-weight: lighters;
	color: #4A4A4A;
}

.subHeader {
	padding-top: 1px;
	font-size: 15px;
	font-weight: lighter;
	color: #4A4A4A;
}

.description {
	padding-top: 2px;
	font-size: 12px;
	font-weight: lighter;
	color: #4A4A4A;
}

.linkRoute {
	padding-top:15px;
	font-size: 16px;
	color: #4A4A4A;
	font-weight: bold;
}
