@import "colors";

.titleBanner {
	height: 80px;
	width:100%;
	background-image: url("../../images/zillowbackground.png");
	display: flex;
}

.title {
	color: white;
	margin: auto;
	font-size: 35px;
}

.container {
	margin-top: 50px;
	margin-left: 260px;
}

.select {
	width: 400px;
	font-family: Open Sans;
	font-size: 20px;
}

text {
	font-size: 17px;
}

text::before {
	content: "* ";
    color: red;
    font-weight: bold;
    font-size: 18px;
}


.tooltip::before {
    content: "* ";
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.tooltip {
	font-size: 17px;
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -103;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.submit {
	background-color: #F3F3F3;
	border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 550px;
    cursor: pointer;
}


.submit {
	margin-left: 0;
    width: 200px;
}
