@import "colors";

.headerText { 
	font-size: 16px;
	font-weight: bold;
}

.descriptionText {
	font-size:13px;
	font-weight: lighter;
}

.price {
	font-size: 20px;
	font-weight: bold;
}


.headerText2 { 
	font-size: 16px;
	font-weight: bold;
}

.descriptionText2 {
	font-size:13px;
	font-weight: lighter;
}

.price2 {
	font-size: 20px;
	font-weight: bold;
}

.headerText3 { 
	font-size: 16px;
	font-weight: bold;
}

.descriptionText3 {
	font-size:13px;
	font-weight: lighter;
}

.price3 {
	font-size: 20px;
	font-weight: bold;
}

.headerText4 { 
	font-size: 16px;
	font-weight: bold;
}

.descriptionText4 {
	font-size:13px;
	font-weight: lighter;
}

.price4 {
	font-size: 20px;
	font-weight: bold;
}


.headerText5 { 
	font-size: 16px;
	font-weight: bold;
}

.descriptionText5 {
	font-size:13px;
	font-weight: lighter;
}

.price5 {
	font-size: 20px;
	font-weight: bold;
}


.headerText6 { 
	font-size: 16px;
	font-weight: bold;
}

.descriptionText6 {
	font-size:13px;
	font-weight: lighter;
}

.price6 {
	font-size: 20px;
	font-weight: bold;
}
