@import "colors";

.container {
	background: white;
	height: 75px;
}

.zillowLogo {
}

.logoPosition {
	position: absolute;
	left: 25px;
	top: 25px;
}


.navLinks {
	position: absolute;
	color: #0074E4;
	top: 5px;
	right: 5px;
	font-size: 15px;
}

.greeting {
	padding-right:20px;
	border-right: 1px solid #87D300;
}

.links {
	padding: 5px;
}