@import "colors";

.container {
	background: primary(zillowBlue);
	height: 150px;
}

.zillowLogo {
	position: absolute;
	left: 80px;
	top: 0px;
	background: white;
	height: 180px;
	width: 370px;
	border-radius: 0px 0px 15px 15px;
	border: 2px solid #ddd;
	border-top: none;
}

.logoPosition {
	position: absolute;
	left: 25px;
	top: 40px;
}

.search {
	position: absolute;
	top: 50px;
	right: 500px;
}

.searchInput {
	width: 750px;
	font-size: 30px;
	font-style: italic;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 5px;
	color: primary(zillowGreen);
}

.navLinks {
	position: absolute;
	color: white;
	top: 5px;
	right: 5px;
	font-size: 18px;
}

.greeting {
	padding-right:20px;
	border-right: 1px solid white;
}

.links {
	padding: 5px;
}